<a href="https://colab.research.google.com/github/IFTAKHAR-ALAM/learnig-python/blob/main/class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("HELLO NEW WORLD ")

HELLO NEW WORLD

In [ ]:
def greet():
  print("Hello person")
  greet()
print("Arsal Iftikhar")

Arsal Iftikhar

In [ ]:
# prompt: Write Hello World with M IFTIKHAR ALAM

print("Hello World with M IFTIKHAR ALAM")

Hello World with M IFTIKHAR ALAM

In [ ]:
def greet(name):
  print(f"Hello (name)")
greet("zarnisha")

Hello (name)

In [ ]:
def add_two(a , b):
  a = 50
  b = 77
  c = a + b
  return c
add_two(50,77)

127

In [ ]:
def greet_with_default(name = "Guest"):
  print(f"Hello (name)")
greet_with_default("iftikhar")

Hello (name)

In [ ]:
def call_llm(prompt):
  print(f"uder: promt")
  return "AI: Hello how can I help you"
response = call_llm(prompt="My name Oftikhar")
print(response)

uder: promt
AI: Hello how can I help you

In [ ]:
def roll_dice(limit = 6):
  return random.randint(1, limt)
  print(roll_dice( 24 ))

In [ ]:
name = "M.IFTIKHAR ALAM"
print(name)

M.IFTIKHAR ALAM

In [ ]:
name = """My name is Iftikhar I am working in Insurance last since
35 years and working with M/S ASKARI GENERAL INSURANCE"""
print(name)

My name is Iftikhar I am working in Insurance last since
35 years and working with M/S ASKARI GENERAL INSURANCE

In [ ]:
users = {
    "username": "Najam",
    "age" : 26,
    "city" : "katachi"
}
print(users["username"])
print(users["age"])
print(users["city"])
users["username"] = "Arsal"
print(users["username"])

users["sername"] = "Iftikhar"
print(users["username"])
users["age"] = 23
print(users["age"])
users["city"] = "HUDRABAD"
print(users["city"])
users["country"] = "PAKISTAN"
print(users["country"])
print(users)

Najam
26
katachi
Arsal
Arsal
23
HUDRABAD
PAKISTAN
{'username': 'Arsal', 'age': 23, 'city': 'HUDRABAD', 'sername': 'Iftikhar', 'country': 'PAKISTAN'}

In [ ]:
users1: dict = {"name": 'IFTIKHAR',
               "age": 33,
               "job": "Insurance",
               "work": "ASKRI INSURANCE",
               "Country": "PAKISTAN"
}

In [ ]:
for i in range(1, 6):
  print(i)

  students = ["Arsal","Aslam","Arham","moin","Akhtae"]
  for student in students:
   print(student)

1
Arsal
Aslam
Arham
moin
Akhtae
2
Arsal
Aslam
Arham
moin
Akhtae
3
Arsal
Aslam
Arham
moin
Akhtae
4
Arsal
Aslam
Arham
moin
Akhtae
5
Arsal
Aslam
Arham
moin
Akhtae

In [ ]:
correct_number = 9
guess = 0

while guess != correct_number:
  guess = int(input("guess the number:"))
  print("wrong, Try again please" if guess != currect_number else "you guess it right")

guess the number:3
wrong, Try again please
guess the number:5
wrong, Try again please
guess the number:7
wrong, Try again please
guess the number:0
wrong, Try again please
guess the number:9
you guess it right

In [ ]:
countdown = 10
while countdown >= 1:
  print(f"{countdown}...")
  countdown -= 1


print("HAPPY NEW YEAR!!!")

10...
9...
8...
7...
6...
5...
4...
3...
2...
1...
HAPPY NEW YEAR!!!

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]
for num in numbers:
  print( num ** 2)

print( num ** 3)

1
4
9
16
25
36
49
343

In [ ]:
try:
  num = int(input("Enter a number:"))
  result = num /10
  print(f"Result is: (result)")

except ZeroDivisionError:
    print("cannot devide by zero.")

except ValueError:
  print("only numbers are accepted.")

Enter a number:22
Result is: (result)

In [ ]:
# prompt: generate 2025 calender jan to dec 2025

import calendar

def print_calendar(year):
  for month in range(1, 13):
    print(calendar.month(year, month))

print_calendar(2025)

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

     March 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

     April 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

     June 2025
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

     July 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

    October 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
year = 2025
month = 2
print(calendar.month(year, month))

In [ ]:
year = 2025
month = 1
print(calendar.month(year, month))

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [26]:
student = {

    "name" : "Arsal", "Arham", "moin", "akhtar", "zarnisha",

    "subjects" = {
       "name" : "phy", "chem", "bio", "comp", "Math",
    "Math" : 100,
    "phy" : 90,
    "chem": 90,
    "bio" : 80,
    "comp" : 70


    }

},

print(list(students.keys()))
print(student.values)
print(list(student.values()))
print(student.items())
print(list(student.items())
pairs = list(students.items())
print(pairs[0])

SyntaxError: ':' expected after dictionary key (<ipython-input-26-fc89a0df2321>, line 3)

In [27]:
# prompt: !pip install hijri calendar

!pip install hijri-converter
import hijri_converter
# ... (rest of your code)

Collecting hijri-converter
  Downloading hijri_converter-2.3.1-py3-none-any.whl.metadata (2.7 kB)
Downloading hijri_converter-2.3.1-py3-none-any.whl (13 kB)
Installing collected packages: hijri-converter
Successfully installed hijri-converter-2.3.1

In [29]:
generate hijri calendar jan to dec 2025.

SyntaxError: invalid syntax (<ipython-input-29-243c8ec2d95d>, line 1)

In [ ]:
# prompt: hijri calendar 2025

import hijri_converter
import calendar

for month in range(1, 13):
    gregorian_date = hijri_converter.Gregorian(2025, month, 1)
    hijri_date = gregorian_date.to_hijri()
    print(f"Month: {month}, Hijri Date: {hijri_date}")