<a href="https://colab.research.google.com/github/IFTAKHAR-ALAM/learnig-python/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MUHAMMAD IFTIKHAR ALAM
##       476369

## STRINGS / VARIABLES

In [ ]:
str1 = "My name is IFTIKHAR"
str2 = "I am working with insurance"

print(str1 + str2)

str1 = "My name is IFTIKHAR"
str2 = "I am working with Insurance"

print( str1 + " " + str2 )

len(str1)
print(len(str1))

In [ ]:
print("PAKISTAN")

In [ ]:
print("PAKISTAN"

In [ ]:
print("Hello World")
# print("Hello World")

# print("PAKISTAN")
# print("PAKISTAN")
# print("PAKISTAN")
# print("PAKISTAN")
# print("PAKISTAN")

# #str function

In [ ]:
x = "m IFTIKHAR ALAM"\
print(x.capitalize())

x = (x.capitalize())
print(x)

x = "M IFTIKHAR ALAM"
print(x.replace("I", "A"))


X = "M IFTIKHar ALAM"
print(x.upper())

x = "M IFTIKHAR ALAM"
print(x.replace("ALAM", "AHMED"))

x = "M IFTIKHAR ALAM"
print(x.find("A"))

x = from M IFTIKHAR ALAM"
print(x,find("from"))

X = "I am from M IFTIKHAR  from Karachi"
print(x.find("from"))

x = "M IFTIhaR ALAM"
print(x.lower())

In [ ]:
x = "M IFRIKHAR ALAM"
print(x.endswith("ALAM"))


x = "M IFTIKHAR ALAM"
print(x.endswith("IFT"))

In [ ]:
x = "M IFTIKHAR ALAM I working in Insurance"
ch = x
ch = x[6]
print(ch)

ch = x[9]
print(ch)

In [ ]:
x = "NUSRAT IFTIKHAR"
print(x[0:9])

In [ ]:
x = "M IFTIKHAR ALAM"
print(x[ 2:7])

In [ ]:
x = "ARSAL IFTIKHAR"
print(x[ -1:-3 ])

In [ ]:
name1 = 'Nusrat Iftikhar'
name2 = "Nusrat Iftikhar"
name3 = """Nusrat Iftikhar"""
print(name1)
print(name2)
print(name3)

 #Type Method

In [ ]:
price1 = 55
fruits = ["apple", "orange", "Banana", "Lichee", "grapes"]
Old = True
Young = True
x = None

print(type(price1))
print(type(fruits))
print(type(Old))
print(type(Young))
print(type(x))

In [ ]:
name = "Nusrat Iftikhar"
age = 40
print(type(name))
print(type(age))

In [ ]:
str = ("I am Iftikhar my age is 45.\n I am working with Insurance companies")
print(str)

In [ ]:
print("Hello World")
print("""My NAME is M IFTIKHSR ALAM AND WORKING AND LEARNING WITH PYTHON
i THOUGHT i WII ACHIEVE MY GOAL,
EARLY, DUE TO GETTING STRUGGLE AND GIVING TIME TO STEADY AND LEARNING""")

In [ ]:
print("PAKISTAN ZINDABAD")

In [ ]:
print("Hello World")
print("My name is M IFTIKHAR ALAM")

In [ ]:
# prompt: write Hello World with M IFTIKHAR ALAM

print("Hello World")
print("""My NAME is M IFTIKHAR ALAM AND WORKING AND LEARNING WITH PYTHON
i THOUGHT i WII ACHIEVE MY GOAL,
EARLY, DUE TO GETTING STRUGGLE AND GIVING TIME TO STEADY AND LEARNING""")

print("PAKISTAN ZINDABAD")
print("Hello World")
print("My name is M IFTIKHAR ALAM")

In [ ]:
name = "M IFTIKHAR ALAM"
age = 45
education = "Graduate"

print("My name is :", name)
print("My age is :", age)
print("My education is :", education)

In [ ]:
# prompt: weite Hello World with Arsal Iftikhar

print("Hello World")
print("My name is Arsal Iftikhar")

In [ ]:
 prompt: generate a new calculator

def calculator():
    """Performs basic arithmetic operations."""

    while True:
        print("\nSelect operation:")
        print("1. 100")
        print("2. 1000")
        print("3. 2")
        print("4. 4")
        print("5. Exit")

        try:
            choice = int(input("Enter choice(1/2/3/4/5): "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == 5:
            break

        if choice not in [1, 2, 3, 4]:
            print("Invalid input. Please enter a number between 1 and 5.")
            continue

        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter numbers.")
            continue

        if choice == 1:
            print(num1, "+", num2, "=", num1 + num2)
        elif choice == 2:
            print(num1, "-", num2, "=", num1 - num2)
        elif choice == 3:
            print(num1, "*", num2, "=", num1 * num2)
        elif choice == 4:
            if num2 == 0:
                print("Division by zero error!")
            else:
                print(num1, "/", num2, "=", num1 / num2)

if __name__ == "__main__":
  calculator()

In [ ]:
 prompt: generate english clender current jan to dec  year 2025

import calendar

def generate_calendar(year):
    """Generates a calendar for the given year."""

    for month in range(1, 13):  # Iterate through months (1-12)
        print(calendar.month(year, month))


if __name__ == "__main__":
    generate_calendar(2025)

In [ ]:
# prompt: 2025 calendar  jan to dec

import calendar

def generate_calendar(year):
    """Generates a calendar for the given year."""

    for month in range(1, 13):  # Iterate through months (1-12)
        print(calendar.month(year, month))


if __name__ == "__main__":
    generate_calendar(2025)

In [ ]:
yy = 2024
mm = 2
print(calendar.month(yy, mm))

In [ ]:
year = 2025
month = 12
print(calendar.month(year, month))

# OPERATORS

In [ ]:
a = 5
b =10
print(a+b)

a = 11
b = 15
print(a-b)

a = 0
b = 11
print(a * b)

a = 100
b = 2
print( a / b )

a = 5
b = 5
print( a ** b)

a = 55
b = 11
print( a / b)

a = 55
b = 44
print( a % b )

In [ ]:
x = 100
x = x + 100

print("x:", x )

x = 100
x = x =- 100
print("x:", x)

x = 100
x = x * 100
print("x:", x)

x = 100
x = x / 100
print("x:", x)

In [ ]:
x = 100
y = 50

print( x == y )
print( x != y )
print( x >= y )
print( x <= y )
print( x > y )
print( x < y )

In [ ]:
x = 150
x += 150
print("x :", x)

x = 150
x *= 150
print("x :", x)

x = 150
x /= 150
print("x :", x)

In [ ]:

x =  66.60
x = str(x)
print(type(x))

In [ ]:
x1 = float("22")
x2 = 44.50
print(type(x1))
print(x1 + x2)

In [ ]:
x1 = int("2")
x2 = 3.50

print(type(x1))
print(x1 + x2)

In [ ]:
x1 = 24
x2 = 20.23
sum = x1+x2
print(sum)

In [ ]:
x1 = 100
x2 = 50
print("OR oprrater:", (x1 == x2) or (x1 > x2))

In [ ]:
x1 = True
x2 = True
print("AND operator :", ( x1 and x2)

In [ ]:
print(not False)
print(not True)

In [ ]:
yy = 2025
mm = 5
print(calendar.month(yy, mm))

In [ ]:
yy = 2025
mm = 12
print(calendar.month(yy, mm))

# ***CONDIRIONAL STATEMENTS***

In [ ]:
age = 23

if(age >= 18):
    print("You are eligible to NIC")
else:
    print("You are not eligible to NIC")


age = 5

if(age >= 4):
    print("You are eligible to admisstion nursery")
else:
    print("You are not eligible to admission nursery")



    age = 22

    if(age >= 18):
      print("you can dribe car")
    else:
      print("you can't drive a car")

In [ ]:
marks = 75

if(marks >= 90):
  print("Grade A")
elif(marks >= 80):
  print("Grade B")
elif(marks >= 70):
  print("Grade C")
elif(marks >= 60):
  print("Grade D")

In [ ]:
marks1 = 90.6
marks2 = 80.7
marks3 = 70.3
marls4 = 60.7
markd5 = 50.4

marks = [90.4, 80.7, 70.3, 60.7, 50.4]
print(marks)
print(type(marks))
print(marks[0])
print(marks[1])

In [ ]:
marks = int(input("Enter student marks : "))

marks = 75

if(marks >= 90):
  Grade = "A"
elif(marks >= 80 and marks < 90):
  Grade = "B"
elif(marks >= 70 and marks < 80):
  Grade = "C"
else:
  Grade = "D"

print("Grade of the studen ->", Grade)

# ***LIST( SILICING, INDEXING, METHODS ) ***

In [ ]:
student = ["IFTIKHAR", 90.6, 40, "Karachi, Pakistan"]
print(student)
student[0] = "ARSAL IFTIKHAR"
print(student)

In [ ]:
marks = [ 90, 80, 70, 60, 50, 40 ]
print(marks[1:5])
print(marks[2:4])
print(marks[ :3])
print(marks[2: ])
print(marks[-2:-1])
print(marks[-1:-3])
print(marks[-4:-1])

In [ ]:

list = [ 1, 2, 3, 4, 5, 6]
list.append(7)
print(list.sort())
list.insert(2, 7)
print(list)

In [ ]:
list = [1, 2, 3, 4, 5, 6, ]
list.remove(1)
list.pop(4)
print(list)

In [ ]:
tup = (2, 3, 5, 8, 9)
print(type(tup))


tup = ()
print(tup)
print(type(tup))

tup = (1,)
print(tup)

tup = (1)
tup = (2.0)
tup = "IFTIKHAR"
print(type(tup))

tup = ("IFTIKHAR",)
tup = (2.0)
print(tup)
print(type(tup))

In [ ]:
tup = (1, 2, 4, 5, 7, 6)
print(tup.index(1))
print(tup.index(2))
print(tup.count(4))
print(tup.count(1))

# **DICTIONARY and SET**

In [ ]:
info = {
    "key":"value",
    "name":"IFTIKHAR",
    "subject":"English",
}

print(info)
print(type(info))
print(info["name"])
print(info["subject"])
print(info["key"])


info["name"] = "ARSAL IFTIKHAR ALAM"
print(info)

In [ ]:
class Car:
    color = "red"
    model = "2025"
    
    car1 = Car()
    print(car1.color)
    print(car1.model)