<a href="https://colab.research.google.com/github/IFTAKHAR-ALAM/learnig-python/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MUHAMMAD IFTIKHAR ALAM
##       476369

NameError: name 'streamlit' is not defined

In [ ]:
# prompt: pip install streamlit as st

!pip install streamlit
import streamlit as st

Collecting streamlit
  Downloading streamlit-1.44.1-py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: altair<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.0)
Requirement already satisfied: blinker<2,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (1.9.0)
Requirement already satisfied: cachetools<6,>=4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (8.1.8)
Requirement already satisfied: numpy<3,>=1.23 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.0.2)
Requirement already satisfied: packaging<25,>=20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (24.2)
Requirement already satisfied: pandas<3,>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.2.2)
Requirement already satisfied: pillow<12,>=7.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (11.1.0)
Requirement already satisfied: protobuf<6,>=3.20 in /usr/local/lib/python3.11/dist-packages (from streamlit) (5.29.4)
Requirement already satisfied: pyarrow>=7.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (18.1.0)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from streamlit) (2.32.3)
Requirement already satisfied: tenacity<10,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in /usr/local/lib/python3.11/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in /usr/local/lib/python3.11/dist-packages (from streamlit) (4.13.2)
Collecting watchdog<7,>=2.1.5 (from streamlit)
  Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl.metadata (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.3/44.3 kB 2.6 MB/s eta 0:00:00
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in /usr/local/lib/python3.11/dist-packages (from streamlit) (3.1.44)
Collecting pydeck<1,>=0.8.0b4 (from streamlit)
  Downloading pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in /usr/local/lib/python3.11/dist-packages (from streamlit) (6.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (4.23.0)
Requirement already satisfied: narwhals>=1.14.2 in /usr/local/lib/python3.11/dist-packages (from altair<6,>=4.0->streamlit) (1.35.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.11/dist-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit) (4.0.12)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3,>=1.4.0->streamlit) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->streamlit) (2025.1.31)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.11/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit) (5.0.2)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->altair<6,>=4.0->streamlit) (3.0.2)
Requirement already satisfied: attrs>=22.2.0 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in /usr/local/lib/python3.11/dist-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit) (0.24.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1.4.0->streamlit) (1.17.0)
Downloading streamlit-1.44.1-py3-none-any.whl (9.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.8/9.8 MB 92.0 MB/s eta 0:00:00
Downloading pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 126.2 MB/s eta 0:00:00
Downloading watchdog-6.0.0-py3-none-manylinux2014_x86_64.whl (79 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.1/79.1 kB 8.5 MB/s eta 0:00:00
Installing collected packages: watchdog, pydeck, streamlit
Successfully installed pydeck-0.9.1 streamlit-1.44.1 watchdog-6.0.0

2025-04-23 20:54:28.090 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-23 20:54:28.228
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /usr/local/lib/python3.11/dist-packages/colab_kernel_launcher.py [ARGUMENTS]
2025-04-23 20:54:28.231 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

## STRINGS / VARIABLES

In [ ]:
str1 = "My name is IFTIKHAR"
str2 = "I am working with insurance"

print(str1 + str2)

str1 = "My name is IFTIKHAR"
str2 = "I am working with Insurance"

print( str1 + " " + str2 )

len(str1)
print(len(str1))

In [ ]:
print("PAKISTAN")

In [ ]:
print("PAKISTAN"

In [ ]:
print("Hello World")
# print("Hello World")

# print("PAKISTAN")
# print("PAKISTAN")
# print("PAKISTAN")
# print("PAKISTAN")
# print("PAKISTAN")

# #str function

In [ ]:
x = "m IFTIKHAR ALAM"\
print(x.capitalize())

x = (x.capitalize())
print(x)

x = "M IFTIKHAR ALAM"
print(x.replace("I", "A"))


X = "M IFTIKHar ALAM"
print(x.upper())

x = "M IFTIKHAR ALAM"
print(x.replace("ALAM", "AHMED"))

x = "M IFTIKHAR ALAM"
print(x.find("A"))

x = from M IFTIKHAR ALAM"
print(x,find("from"))

X = "I am from M IFTIKHAR  from Karachi"
print(x.find("from"))

x = "M IFTIhaR ALAM"
print(x.lower())

In [ ]:
x = "M IFRIKHAR ALAM"
print(x.endswith("ALAM"))


x = "M IFTIKHAR ALAM"
print(x.endswith("IFT"))

In [ ]:
x = "M IFTIKHAR ALAM I working in Insurance"
ch = x
ch = x[6]
print(ch)

ch = x[9]
print(ch)

In [ ]:
x = "NUSRAT IFTIKHAR"
print(x[0:9])

In [ ]:
x = "M IFTIKHAR ALAM"
print(x[ 2:7])

In [ ]:
x = "ARSAL IFTIKHAR"
print(x[ -1:-3 ])

In [ ]:
name1 = 'Nusrat Iftikhar'
name2 = "Nusrat Iftikhar"
name3 = """Nusrat Iftikhar"""
print(name1)
print(name2)
print(name3)

 #Type Method

In [ ]:
price1 = 55
fruits = ["apple", "orange", "Banana", "Lichee", "grapes"]
Old = True
Young = True
x = None

print(type(price1))
print(type(fruits))
print(type(Old))
print(type(Young))
print(type(x))

In [ ]:
name = "Nusrat Iftikhar"
age = 40
print(type(name))
print(type(age))

In [ ]:
str = ("I am Iftikhar my age is 45.\n I am working with Insurance companies")
print(str)

In [ ]:
print("Hello World")
print("""My NAME is M IFTIKHSR ALAM AND WORKING AND LEARNING WITH PYTHON
i THOUGHT i WII ACHIEVE MY GOAL,
EARLY, DUE TO GETTING STRUGGLE AND GIVING TIME TO STEADY AND LEARNING""")

In [ ]:
print("PAKISTAN ZINDABAD")

In [ ]:
print("Hello World")
print("My name is M IFTIKHAR ALAM")

In [ ]:
# prompt: write Hello World with M IFTIKHAR ALAM

print("Hello World")
print("""My NAME is M IFTIKHAR ALAM AND WORKING AND LEARNING WITH PYTHON
i THOUGHT i WII ACHIEVE MY GOAL,
EARLY, DUE TO GETTING STRUGGLE AND GIVING TIME TO STEADY AND LEARNING""")

print("PAKISTAN ZINDABAD")
print("Hello World")
print("My name is M IFTIKHAR ALAM")

In [ ]:
name = "M IFTIKHAR ALAM"
age = 45
education = "Graduate"

print("My name is :", name)
print("My age is :", age)
print("My education is :", education)

In [ ]:
# prompt: write Hello World with Arsal Iftikhar

print("Hello World")
print("My name is Arsal Iftikhar")

In [ ]:
 prompt: generate calculator

def calculator():
    """Performs basic arithmetic operations."""

    while True:
        print("\nSelect operation:")
        print("1. 100")
        print("2. 1000")
        print("3. 2")
        print("4. 4")
        print("5. Exit")

        try:
            choice = int(input("Enter choice(1/2/3/4/5): "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == 5:
            break

        if choice not in [1, 2, 3, 4]:
            print("Invalid input. Please enter a number between 1 and 5.")
            continue

        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter numbers.")
            continue

        if choice == 1:
            print(num1, "+", num2, "=", num1 + num2)
        elif choice == 2:
            print(num1, "-", num2, "=", num1 - num2)
        elif choice == 3:
            print(num1, "*", num2, "=", num1 * num2)
        elif choice == 4:
            if num2 == 0:
                print("Division by zero error!")
            else:
                print(num1, "/", num2, "=", num1 / num2)

if __name__ == "__main__":
  calculator()

SyntaxError: invalid syntax (<ipython-input-6-4d25cb5403c4>, line 1)

In [ ]:
 prompt: generate english clender current jan to dec  year 2025

import calendar

def generate_calendar(year):
    """Generates a calendar for the given year."""

    for month in range(1, 13):  # Iterate through months (1-12)
        print(calendar.month(year, month))


if __name__ == "__main__":
    generate_calendar(2025)

In [ ]:
# prompt: 2025 calendar  jan to dec

import calendar

def generate_calendar(year):
    """Generates a calendar for the given year."""

    for month in range(1, 13):  # Iterate through months (1-12)
        print(calendar.month(year, month))


if __name__ == "__main__":
    generate_calendar(2025)

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

     March 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

     April 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

     June 2025
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

     July 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

    October 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
yy = 2024
mm = 2
print(calendar.month(yy, mm))

In [ ]:
year = 2025
month = 12
print(calendar.month(year, month))

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# OPERATORS

In [ ]:
a = 5
b =10
print(a+b)

a = 11
b = 15
print(a-b)

a = 0
b = 11
print(a * b)

a = 100
b = 2
print( a / b )

a = 5
b = 5
print( a ** b)

a = 55
b = 11
print( a / b)

a = 55
b = 44
print( a % b )

In [ ]:
x = 100
x = x + 100

print("x:", x )

x = 100
x = x =- 100
print("x:", x)

x = 100
x = x * 100
print("x:", x)

x = 100
x = x / 100
print("x:", x)

In [ ]:
x = 100
y = 50

print( x == y )
print( x != y )
print( x >= y )
print( x <= y )
print( x > y )
print( x < y )

In [ ]:
x = 150
x += 150
print("x :", x)

x = 150
x *= 150
print("x :", x)

x = 150
x /= 150
print("x :", x)

In [ ]:

x =  66.60
x = str(x)
print(type(x))

In [ ]:
x1 = float("22")
x2 = 44.50
print(type(x1))
print(x1 + x2)

In [ ]:
x1 = int("2")
x2 = 3.50

print(type(x1))
print(x1 + x2)

In [ ]:
x1 = 24
x2 = 20.23
sum = x1+x2
print(sum)

In [ ]:
x1 = 100
x2 = 50
print("OR oprrater:", (x1 == x2) or (x1 > x2))

In [ ]:
x1 = True
x2 = True
print("AND operator :", ( x1 and x2)

In [ ]:
print(not False)
print(not True)

In [ ]:
yy = 2025
mm = 5
print(calendar.month(yy, mm))

In [ ]:
yy = 2025
mm = 12
print(calendar.month(yy, mm))

# ***CONDIRIONAL STATEMENTS***

In [ ]:
age = 23

if(age >= 18):
    print("You are eligible to NIC")
else:
    print("You are not eligible to NIC")


age = 5

if(age >= 4):
    print("You are eligible to admisstion nursery")
else:
    print("You are not eligible to admission nursery")



    age = 22

    if(age >= 18):
      print("you can dribe car")
    else:
      print("you can't drive a car")

In [ ]:
marks = 75

if(marks >= 90):
  print("Grade A")
elif(marks >= 80):
  print("Grade B")
elif(marks >= 70):
  print("Grade C")
elif(marks >= 60):
  print("Grade D")

In [ ]:
marks1 = 90.6
marks2 = 80.7
marks3 = 70.3
marls4 = 60.7
markd5 = 50.4

marks = [90.4, 80.7, 70.3, 60.7, 50.4]
print(marks)
print(type(marks))
print(marks[0])
print(marks[1])

In [ ]:
marks = int(input("Enter student marks : "))

marks = 75

if(marks >= 90):
  Grade = "A"
elif(marks >= 80 and marks < 90):
  Grade = "B"
elif(marks >= 70 and marks < 80):
  Grade = "C"
else:
  Grade = "D"

print("Grade of the studen ->", Grade)

# ***LIST( SILICING, INDEXING, METHODS ) ***

In [ ]:
student = ["IFTIKHAR", 90.6, 40, "Karachi, Pakistan"]
print(student)
student[0] = "ARSAL IFTIKHAR"
print(student)

In [ ]:
marks = [ 90, 80, 70, 60, 50, 40 ]
print(marks[1:5])
print(marks[2:4])
print(marks[ :3])
print(marks[2: ])
print(marks[-2:-1])
print(marks[-1:-3])
print(marks[-4:-1])

In [ ]:

list = [ 1, 2, 3, 4, 5, 6]
list.append(7)
print(list.sort())
list.insert(2, 7)
print(list)

In [ ]:
list = [1, 2, 3, 4, 5, 6, ]
list.remove(1)
list.pop(4)
print(list)

In [ ]:
tup = (2, 3, 5, 8, 9)
print(type(tup))


tup = ()
print(tup)
print(type(tup))

tup = (1,)
print(tup)

tup = (1)
tup = (2.0)
tup = "IFTIKHAR"
print(type(tup))

tup = ("IFTIKHAR",)
tup = (2.0)
print(tup)
print(type(tup))

In [ ]:
tup = (1, 2, 4, 5, 7, 6)
print(tup.index(1))
print(tup.index(2))
print(tup.count(4))
print(tup.count(1))

# **DICTIONARY and SET**

In [ ]:
info = {
    "key":"value",
    "name":"IFTIKHAR",
    "subject":"English",
}

print(info)
print(type(info))
print(info["name"])
print(info["subject"])
print(info["key"])


info["name"] = "ARSAL IFTIKHAR ALAM"
info["subject"]= "physic"
print(info)

nul_dic = {}
print(nul_dic)
nul_dic["name"] = "ZARNISHA"
print(nul_dic)

# ***NESTED DICTIONARY***

In [ ]:
student = {
     "name" : "Aslam", "Ashraf", "azam",

     "subject" = {
        "phy" : 80,
        "Chem" : 90,
        "Math" : 100

     }


}

new_dic = {"name:", karachi", "lahore", "peshawar", "Aslam :", "age:", = 18}
new_dic = {"name:", "multan", "lahore", "peshawar", "Aslam:", "ageL", = 18 }
student.update(new_dic)
print(new_dic)
print(student)

SyntaxError: ':' expected after dictionary key (<ipython-input-24-766fa35d7f0a>, line 2)

In [ ]:
collection = {1, 2, 3, 2, 4, 5, 5, "Zarnisha", "kamal", "kamal", "Zarnisha"}
print(collection)
print(type(collection))
print(len(collection))

collection = set()
print(type(collection))
collection.add(2)
collection.add("IFTIKHAR")
collection.remove("IFTIKHAR")
collection.pop()

# print(collection.clear())

{1, 2, 3, 4, 5, 'kamal', 'Zarnisha'}
<class 'set'>
7
<class 'set'>

2

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

# ***LOOPS IN PYTHON ( WHILE & FOR LOOPS)***
LOOPS ARE USED TO REPEAT INSTRUCTIONS
WHILE & FOR LOOPS ARE RESERVED WORD

VARIABLE

(count)
(ITERASTOR = i
ITERATION = i)

In [ ]:
# while True:
#   print("Hello World")
#   print will infinite I can't stop

count = 1
while count <= 10 :
  print("Hello Iftikhar")
  count += 1
  print(count)

Hello Iftikhar
2
Hello Iftikhar
3
Hello Iftikhar
4
Hello Iftikhar
5
Hello Iftikhar
6
Hello Iftikhar
7
Hello Iftikhar
8
Hello Iftikhar
9
Hello Iftikhar
10
Hello Iftikhar
11

In [ ]:
i = 1
while i <= 10:
  print("Hello Arsal Iftikhar")
  i+=1

  print("Welcome to Python Programming Iftikhar" )

  # i = 1
  # while i <= 100000:
  #   print("Welcome to Python Programming Iftikhar" i)
  #   i+=1

Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar

In [ ]:
i = 1
while i <= 5:
  print(i)
  i += 1

  print("Loop ended")
  print("Loop ended")

1
Loop ended
Loop ended
2
Loop ended
Loop ended
3
Loop ended
Loop ended
4
Loop ended
Loop ended
5
Loop ended
Loop ended

In [ ]:
i = 5
while i >= 1:
  print(i)
  i -= 1

  print("Loop ended")

  # infinite Lookup
  # i = 5
  # qhile i< 6:
  # print(i)
  # i -= 1


  # i = 1
  # while i <= 100:
  #   print(i)
  #   i += 1


# i = 100
# while i >= 1:
#   print(i)
#   i -= 1

5
Loop ended
4
Loop ended
3
Loop ended
2
Loop ended
1
Loop ended

In [ ]:
i = 1
while i <= 10:
  print(3*i)
  i += 1



#  i = 1
#  while i <= 10:
#  print(5*i)
#  i += 1

3
6
9
12
15
18
21
24
27
30

In [ ]:
i = 1
while i <= 10:
  print(5*i)
  i += 1

  # print("Loop ended")

5
10
15
20
25
30
35
40
45
50

In [ ]:
i = 1
while i <= 10:
  print(15*i)
  i += 1

  # print("Loop ended")

15
30
45
60
75
90
105
120
135
150

In [ ]:
n = int(input("Enter a number : "))
i = 1
while i <= 10:
  print(n*i)
  i += 1

Enter a number : 20
20
40
60
80
100
120
140
160
180
200

In [ ]:
n = int(input("Enter a number : "))
i = 1
while i <= 10:
  print(n*i)
  i += 1

Enter a number : 18
18
36
54
72
90
108
126
144
162
180

In [ ]:
nums = [1, 2, 3, 4, 45, 77, 81, 90, 100 ]

index = 0
while index < len(nums):
  print(index)
  print(nums[index])
  index += 1

0
1
1
2
2
3
3
4
4
45
5
77
6
81
7
90
8
100

In [ ]:
heroes = [ "waseem akram", "javeed mian dad", "imran khan", "waqar younus"]

index = 0
while index < len(heroes):
  print(heroes[index])
  index += 1

waseem akram
javeed mian dad
imran khan
waqar younus

In [ ]:
# heroes = [ "waseem akram", "javeed mian dad", "imran khan", "waqar younus"]
i = 1
while i < len(heroes):
  print(hero[1])
i += 1

In [ ]:
nums = (1, 2, 3, 4, 5, 20, 30, 40, 50, 100)

x = 40
i = 0
while i < len(nums):
  if(nums[i] == x) :
    print("found at index", i)
  i += 1

found at index 7

In [ ]:
i = 1
while i <= 10:
  if(i % 2 != 0):
    i += 1
    continue
  print(i)
  i += 1

In [ ]:
i = 1
while i <= 5:
  print(i)
  if(i == 3):
      break
    i += 1

    print('End of the loop')

In [ ]:
nums =(1, 2, 3, 4, 5, 20, 30, 40, 50, 100)
x = 40
i = 0
while i < len(nums):

   if(nums[i] == x):
      print("found at index ", i)
      break
else:
   print("finding...")
   i += 1
print("End of loop")

In [ ]:
i = 1

while i <= 5 :
  if(i == 3):
    break
  print(i)
  i += 1
print('End of the loop')

1
2
End of the loop

In [ ]:
i = 1

while i <= 10:
  if(i%2 == 0):
    i += 1
    continue
  print(i)
  i += 1

1
3
5
7
9

In [ ]:
x = [1, 2, 3, 4, 6 ]
for val in x :
  print(val)

1
2
3
4
6

In [ ]:
vagitable = ["potasto", "tomato", "brinjal" ]
for val in vagitable:
  print(val)

potasto
tomato
brinjal

In [ ]:
tup = (1, 2, 3, 4, 5)
for val in tup:
  print(val)

1
2
3
4
5

In [ ]:
str = "IFTIKHAR"
for val in str:
  print(val)
else:
  print(END)

I
F
T
I
K
H
A
R

NameError: name 'END' is not defined

In [ ]:
str = "IFTIKHAR"
for char in str :
  if(char == 'K'):
    print("Found K")
    break
  print(char)
else:
  print("Loop ended")

I
F
T
I
Found K

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]

for el in nums:
  print(el)

1
2
3
4
5
6
7

In [ ]:
nuns = (11, 12, 14, 16, 22, )

x = 16
index = 0

for el in nums:
  if(el == x):
    print("nymbers found in index", index)
    break
    index += 1

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
seq = range(5)
print(seq(0))
print(seq(1))
print(seq(2))
print(seq(3))
print(seq(4))

for i in seq:
  print(i)

TypeError: 'range' object is not callable

In [ ]:
seq = range(10)

for i in seq:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(2, 10):
  print(i)

2
3
4
5
6
7
8
9

In [ ]:
for i in range(2, 10, 2):
  print(i)

2
4
6
8

In [ ]:
for i in range(2, 100, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
for i in range(1, 100, 2):
  print(i)

In [ ]:
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(1, 100):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
for i in range(100, 0, -1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
n = int(input("Enter a number : "))
for i in range(1, 11):
  print(n*i)

Enter a number : 22
22
44
66
88
110
132
154
176
198
220

In [ ]:
for i in range(5):
  pass

  print("some useful work")

some useful work
some useful work
some useful work
some useful work
some useful work

In [ ]:
if i > 5:

  pass

  print("some useful work")

In [ ]:
n = 6

for i in range(1, n+1):
  print(i)

1
2
3
4
5
6

In [ ]:
sun = 0
for i in range(1, n+1):
  sum += 1

  print("total sum =", sum)

total sum = 6
total sum = 7
total sum = 8
total sum = 9
total sum = 10
total sum = 11

In [ ]:
sum = 5
for i in range(1, n+1):
  sum += 1

  print("total sum =", sum)

total sum = 6
total sum = 7
total sum = 8
total sum = 9
total sum = 10
total sum = 11

## ***FUNCTION & recursion***
A function IS A GROUP OF STATEMENTS (a BLOCK OF STATEMENTS, a BLOCK OF CODE )**bold text** THAT PERFORN a specific task. Function used for redentation is bad practice in programming becare about redendent ( REDENTANCY )

In [ ]:
a = 19
b = 11
c = a + b
print(c)

a = 55
b = 66
sum = a + b
print(sum)

a = 44
b = 55
sum = a + b
print(sum)

a = 77
b = 88
sum = a - b
print(sum)

a = 100
b = 200
sum = a * b
print(sum)

a = 11
b = 11
sum = a / b
print(sum)

a = 11
b = 11
sum = a % b
print(sum)

a = 11
b = 11
sum = a ** b
print(sum)

30
121
99
-11
20000
1.0
0
285311670611

In [ ]:

# def variable name ( parameter):
#   body
#   return
#   variable name ( argument)


# function definition
# def calc_sum(a , b):    parameter
sum = calc_sum(a, b)
   return a + b

sum = calc_sum(2, 5)
print(sum)

sum = calc_sum(33, 77)
print(sum)

def calc_sum(a, b):
    sum = a + b
    print(sum)
    return sum

calc_sum(2, 5)
calc_sum(4, 6)
calc_sum(7, 9)

7
7
110
110
7
10
16

16

In [ ]:
def calc_sum(a, b):
   return a + b

sum = calc_sum(2, 5)
print(sum)

sum = calc_sum(33, 77)
print(sum)

7
110

In [ ]:

cities = ["karachi", "multan", "lahore", "peshawar", "quetta"]
heroes = ["Javeed Mian dad", "WASEEM AKRAM", "IMRAN KHAN"]

print(heroes[0], end="\n")
print(heroes[1], end="\n")

def print_len(list):

    print(len(list))

print_len(cities)
print_len(heroes)


def print_list(list):
  for el in list:
    print(el, end = " ")

def print(list(list)):
  for item in list

Javeed Mian dad
WASEEM AKRAM
5
3

In [ ]:
n = 5
fact = 1
for i in range(1, n+1):
  fact += 1
  print(fact)

  n = 10
  fact = 1
  for i in range(1, n+1):
    fact *= i
    print(fact)

2
1
2
6
24
120
720
5040
40320
362880
3628800
3628801
1
2
6
24
120
720
5040
40320
362880
3628800
3628801
1
2
6
24
120
720
5040
40320
362880
3628800
3628801
1
2
6
24
120
720
5040
40320
362880
3628800
3628801
1
2
6
24
120
720
5040
40320
362880
3628800

In [ ]:

def cal_fact(n):
    fact = 1
for i in range(1, n+1):
    fact *= i
    print(fact)

cal_fact(10)



def cal_fact(n):
    fact = 2
for i in range(1, n+1):
    fact *= 1
    print(fact)

cal_fact(5)




def cal_fact(n):
    fact = 1
for i in range(1, n+1):
  fact *= 1
print(fact)

cal_fact(1)

173401213127727513600000000
346802426255455027200000000
1040407278766365081600000000
4161629115065460326400000000
20808145575327301632000000000
124848873451963809792000000000
873942114163746668544000000000
6991536913309973348352000000000
62923832219789760135168000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000
629238322197897601351680000000000

In [ ]:

def converter(usd_val):
    pak_val = usd_val * 280
    print(usd_val, "USD=", pak_val, "PAK")

converter(100)
converter(200)
converter(500)
converter(1000)
converter(2000)

100 USD= 28000 PAK
200 USD= 56000 PAK
500 USD= 140000 PAK
1000 USD= 280000 PAK
2000 USD= 560000 PAK

RECURSION

when a function calls itself repeately

it is call recursive function

In [ ]:

def show(n):
  print(n)

show(10)

def show(n):
  if(n == 1):     # It is call base case/condition
     return
  print(n)
  show(n-1)

show(9)

10
9
8
7
6
5
4
3
2

In [31]:

# call the stack function (repeatly)

def show(n):
     if(n == 1):
       return
     print(n)
     show(n-1)
print("end of the Recursion")

show(3)

def show(n):
     if(n == 0):
       return
     show(n-1)
     print(n)
show(4)

print("end of the Recursion")



def show(n):
    if(n == 0):
        return
    print(n)
    show(n-1)
show(5)

print(" End ")

end of the Recursion
3
2
1
2
3
4
end of the Recursion
5
4
3
2
1
 End

In [42]:

# Recurrence relation

def fact(n):
  if(n == 1 or n == 0):
    return 1
    return fact(n-1) * n

print(fact(5))
print(fact(4))
print(fact(3))
print(fact(2))
print(fact(1))
print(fact(6))

None
None
None
None
1
None

In [1]:
def calc_sum(n):
     if(n == 0):
         return
     calc_sum(n-1)
print(calc_sum(5))

None

In [9]:

def calc_sum(n):
        if(n == 0):
           return 0
        return calc_sum(n-1) + n

sum = calc_sum(5)
print(sum)

sum = calc_sum(10)
print(sum)

sum = calc_sum(15)
print(sum)

sum = calc_sum(20)
print(sum)

15
55
120
210

In [10]:

def print_list(list, index):
  if(index == len(list)):
    return
  print(list[index])
  print_list(list, index+1)

print_list([1, 2, 3, 4, 5], 0)

1
2
3
4
5

# ***INPUT/OUPUT IN PYTHON***

# OOP ( OBJECT ORIERNTED PROGRAMMING ) IN PYTHON
CLASSES

OBJECTS

CONSTRUCTOR

STATIC METHODS

__init__ FUNCTION ( CONSTRACTOR )

In [ ]:
class Student:

  name = "iftikhar"
  name = "Kamran"
  name = "Arsal"

  S1 = Student()
  print(s1.name)

  S2 = Student()
  print(s2.name)

  S3 = Student()
  print(s3.name)

NameError: name 'Student' is not defined