<a href="https://colab.research.google.com/github/IFTAKHAR-ALAM/learnig-python/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## MUHAMMAD IFTIKHAR ALAM
##       476369

## STRINGS / VARIABLES

In [ ]:
str1 = "My name is IFTIKHAR"
str2 = "I am working with insurance"

print(str1 + str2)

str1 = "My name is IFTIKHAR"
str2 = "I am working with Insurance"

print( str1 + " " + str2 )

len(str1)
print(len(str1))

In [ ]:
print("PAKISTAN")

In [ ]:
print("PAKISTAN"

In [ ]:
print("Hello World")
# print("Hello World")

# print("PAKISTAN")
# print("PAKISTAN")
# print("PAKISTAN")
# print("PAKISTAN")
# print("PAKISTAN")

# #str function

In [ ]:
x = "m IFTIKHAR ALAM"\
print(x.capitalize())

x = (x.capitalize())
print(x)

x = "M IFTIKHAR ALAM"
print(x.replace("I", "A"))


X = "M IFTIKHar ALAM"
print(x.upper())

x = "M IFTIKHAR ALAM"
print(x.replace("ALAM", "AHMED"))

x = "M IFTIKHAR ALAM"
print(x.find("A"))

x = from M IFTIKHAR ALAM"
print(x,find("from"))

X = "I am from M IFTIKHAR  from Karachi"
print(x.find("from"))

x = "M IFTIhaR ALAM"
print(x.lower())

In [ ]:
x = "M IFRIKHAR ALAM"
print(x.endswith("ALAM"))


x = "M IFTIKHAR ALAM"
print(x.endswith("IFT"))

In [ ]:
x = "M IFTIKHAR ALAM I working in Insurance"
ch = x
ch = x[6]
print(ch)

ch = x[9]
print(ch)

In [ ]:
x = "NUSRAT IFTIKHAR"
print(x[0:9])

In [ ]:
x = "M IFTIKHAR ALAM"
print(x[ 2:7])

In [ ]:
x = "ARSAL IFTIKHAR"
print(x[ -1:-3 ])

In [ ]:
name1 = 'Nusrat Iftikhar'
name2 = "Nusrat Iftikhar"
name3 = """Nusrat Iftikhar"""
print(name1)
print(name2)
print(name3)

 #Type Method

In [ ]:
price1 = 55
fruits = ["apple", "orange", "Banana", "Lichee", "grapes"]
Old = True
Young = True
x = None

print(type(price1))
print(type(fruits))
print(type(Old))
print(type(Young))
print(type(x))

In [ ]:
name = "Nusrat Iftikhar"
age = 40
print(type(name))
print(type(age))

In [ ]:
str = ("I am Iftikhar my age is 45.\n I am working with Insurance companies")
print(str)

In [ ]:
print("Hello World")
print("""My NAME is M IFTIKHSR ALAM AND WORKING AND LEARNING WITH PYTHON
i THOUGHT i WII ACHIEVE MY GOAL,
EARLY, DUE TO GETTING STRUGGLE AND GIVING TIME TO STEADY AND LEARNING""")

In [ ]:
print("PAKISTAN ZINDABAD")

In [ ]:
print("Hello World")
print("My name is M IFTIKHAR ALAM")

In [ ]:
# prompt: write Hello World with M IFTIKHAR ALAM

print("Hello World")
print("""My NAME is M IFTIKHAR ALAM AND WORKING AND LEARNING WITH PYTHON
i THOUGHT i WII ACHIEVE MY GOAL,
EARLY, DUE TO GETTING STRUGGLE AND GIVING TIME TO STEADY AND LEARNING""")

print("PAKISTAN ZINDABAD")
print("Hello World")
print("My name is M IFTIKHAR ALAM")

In [ ]:
name = "M IFTIKHAR ALAM"
age = 45
education = "Graduate"

print("My name is :", name)
print("My age is :", age)
print("My education is :", education)

In [ ]:
# prompt: write Hello World with Arsal Iftikhar

print("Hello World")
print("My name is Arsal Iftikhar")

In [ ]:
 prompt: generate calculator

def calculator():
    """Performs basic arithmetic operations."""

    while True:
        print("\nSelect operation:")
        print("1. 100")
        print("2. 1000")
        print("3. 2")
        print("4. 4")
        print("5. Exit")

        try:
            choice = int(input("Enter choice(1/2/3/4/5): "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == 5:
            break

        if choice not in [1, 2, 3, 4]:
            print("Invalid input. Please enter a number between 1 and 5.")
            continue

        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter numbers.")
            continue

        if choice == 1:
            print(num1, "+", num2, "=", num1 + num2)
        elif choice == 2:
            print(num1, "-", num2, "=", num1 - num2)
        elif choice == 3:
            print(num1, "*", num2, "=", num1 * num2)
        elif choice == 4:
            if num2 == 0:
                print("Division by zero error!")
            else:
                print(num1, "/", num2, "=", num1 / num2)

if __name__ == "__main__":
  calculator()

SyntaxError: invalid syntax (<ipython-input-6-4d25cb5403c4>, line 1)

In [ ]:
 prompt: generate english clender current jan to dec  year 2025

import calendar

def generate_calendar(year):
    """Generates a calendar for the given year."""

    for month in range(1, 13):  # Iterate through months (1-12)
        print(calendar.month(year, month))


if __name__ == "__main__":
    generate_calendar(2025)

In [ ]:
# prompt: 2025 calendar  jan to dec

import calendar

def generate_calendar(year):
    """Generates a calendar for the given year."""

    for month in range(1, 13):  # Iterate through months (1-12)
        print(calendar.month(year, month))


if __name__ == "__main__":
    generate_calendar(2025)

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

     March 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

     April 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

      May 2025
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

     June 2025
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

     July 2025
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

   September 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

    October 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   November 2025
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
yy = 2024
mm = 2
print(calendar.month(yy, mm))

In [ ]:
year = 2025
month = 12
print(calendar.month(year, month))

   December 2025
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# OPERATORS

In [ ]:
a = 5
b =10
print(a+b)

a = 11
b = 15
print(a-b)

a = 0
b = 11
print(a * b)

a = 100
b = 2
print( a / b )

a = 5
b = 5
print( a ** b)

a = 55
b = 11
print( a / b)

a = 55
b = 44
print( a % b )

In [ ]:
x = 100
x = x + 100

print("x:", x )

x = 100
x = x =- 100
print("x:", x)

x = 100
x = x * 100
print("x:", x)

x = 100
x = x / 100
print("x:", x)

In [ ]:
x = 100
y = 50

print( x == y )
print( x != y )
print( x >= y )
print( x <= y )
print( x > y )
print( x < y )

In [ ]:
x = 150
x += 150
print("x :", x)

x = 150
x *= 150
print("x :", x)

x = 150
x /= 150
print("x :", x)

In [ ]:

x =  66.60
x = str(x)
print(type(x))

In [ ]:
x1 = float("22")
x2 = 44.50
print(type(x1))
print(x1 + x2)

In [ ]:
x1 = int("2")
x2 = 3.50

print(type(x1))
print(x1 + x2)

In [ ]:
x1 = 24
x2 = 20.23
sum = x1+x2
print(sum)

In [ ]:
x1 = 100
x2 = 50
print("OR oprrater:", (x1 == x2) or (x1 > x2))

In [ ]:
x1 = True
x2 = True
print("AND operator :", ( x1 and x2)

In [ ]:
print(not False)
print(not True)

In [ ]:
yy = 2025
mm = 5
print(calendar.month(yy, mm))

In [ ]:
yy = 2025
mm = 12
print(calendar.month(yy, mm))

# ***CONDIRIONAL STATEMENTS***

In [ ]:
age = 23

if(age >= 18):
    print("You are eligible to NIC")
else:
    print("You are not eligible to NIC")


age = 5

if(age >= 4):
    print("You are eligible to admisstion nursery")
else:
    print("You are not eligible to admission nursery")



    age = 22

    if(age >= 18):
      print("you can dribe car")
    else:
      print("you can't drive a car")

In [ ]:
marks = 75

if(marks >= 90):
  print("Grade A")
elif(marks >= 80):
  print("Grade B")
elif(marks >= 70):
  print("Grade C")
elif(marks >= 60):
  print("Grade D")

In [ ]:
marks1 = 90.6
marks2 = 80.7
marks3 = 70.3
marls4 = 60.7
markd5 = 50.4

marks = [90.4, 80.7, 70.3, 60.7, 50.4]
print(marks)
print(type(marks))
print(marks[0])
print(marks[1])

In [ ]:
marks = int(input("Enter student marks : "))

marks = 75

if(marks >= 90):
  Grade = "A"
elif(marks >= 80 and marks < 90):
  Grade = "B"
elif(marks >= 70 and marks < 80):
  Grade = "C"
else:
  Grade = "D"

print("Grade of the studen ->", Grade)

# ***LIST( SILICING, INDEXING, METHODS ) ***

In [ ]:
student = ["IFTIKHAR", 90.6, 40, "Karachi, Pakistan"]
print(student)
student[0] = "ARSAL IFTIKHAR"
print(student)

In [ ]:
marks = [ 90, 80, 70, 60, 50, 40 ]
print(marks[1:5])
print(marks[2:4])
print(marks[ :3])
print(marks[2: ])
print(marks[-2:-1])
print(marks[-1:-3])
print(marks[-4:-1])

In [ ]:

list = [ 1, 2, 3, 4, 5, 6]
list.append(7)
print(list.sort())
list.insert(2, 7)
print(list)

In [ ]:
list = [1, 2, 3, 4, 5, 6, ]
list.remove(1)
list.pop(4)
print(list)

In [ ]:
tup = (2, 3, 5, 8, 9)
print(type(tup))


tup = ()
print(tup)
print(type(tup))

tup = (1,)
print(tup)

tup = (1)
tup = (2.0)
tup = "IFTIKHAR"
print(type(tup))

tup = ("IFTIKHAR",)
tup = (2.0)
print(tup)
print(type(tup))

In [ ]:
tup = (1, 2, 4, 5, 7, 6)
print(tup.index(1))
print(tup.index(2))
print(tup.count(4))
print(tup.count(1))

# **DICTIONARY and SET**

In [ ]:
info = {
    "key":"value",
    "name":"IFTIKHAR",
    "subject":"English",
}

print(info)
print(type(info))
print(info["name"])
print(info["subject"])
print(info["key"])


info["name"] = "ARSAL IFTIKHAR ALAM"
info["subject"]= "physic"
print(info)

nul_dic = {}
print(nul_dic)
nul_dic["name"] = "ZARNISHA"
print(nul_dic)

# ***NESTED DICTIONARY***

In [ ]:
student = {
     "name" : "Aslam", "Ashraf", "azam",

     "subject" = {
        "phy" : 80,
        "Chem" : 90,
        "Math" : 100

     }


}

new_dic = {"name:", karachi", "lahore", "peshawar", "Aslam :", "age:", = 18}
new_dic = {"name:", "multan", "lahore", "peshawar", "Aslam:", "ageL", = 18 }
student.update(new_dic)
print(new_dic)
print(student)

SyntaxError: ':' expected after dictionary key (<ipython-input-24-766fa35d7f0a>, line 2)

In [ ]:
collection = {1, 2, 3, 2, 4, 5, 5, "Zarnisha", "kamal", "kamal", "Zarnisha"}
print(collection)
print(type(collection))
print(len(collection))

collection = set()
print(type(collection))
collection.add(2)
collection.add("IFTIKHAR")
collection.remove("IFTIKHAR")
collection.pop()

# print(collection.clear())

{1, 2, 3, 4, 5, 'kamal', 'Zarnisha'}
<class 'set'>
7
<class 'set'>

2

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

# ***LOOPS IN PYTHON ( WHILE & FOR LOOPS)***
LOOPS ARE USED TO REPEAT INSTRUCTIONS
WHILE & FOR LOOPS ARE RESERVED WORD

VARIABLE

(count)
(ITERASTOR = i
ITERATION = i)

In [ ]:
# while True:
#   print("Hello World")
#   print will infinite I can't stop

count = 1
while count <= 10 :
  print("Hello Iftikhar")
  count += 1
  print(count)

Hello Iftikhar
2
Hello Iftikhar
3
Hello Iftikhar
4
Hello Iftikhar
5
Hello Iftikhar
6
Hello Iftikhar
7
Hello Iftikhar
8
Hello Iftikhar
9
Hello Iftikhar
10
Hello Iftikhar
11

In [ ]:
i = 1
while i <= 10:
  print("Hello Arsal Iftikhar")
  i+=1

  print("Welcome to Python Programming Iftikhar" )

  # i = 1
  # while i <= 100000:
  #   print("Welcome to Python Programming Iftikhar" i)
  #   i+=1

Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar
Hello Arsal Iftikhar
Welcome to Python Programming Iftikhar

In [ ]:
i = 1
while i <= 5:
  print(i)
  i += 1

  print("Loop ended")
  print("Loop ended")

1
Loop ended
Loop ended
2
Loop ended
Loop ended
3
Loop ended
Loop ended
4
Loop ended
Loop ended
5
Loop ended
Loop ended

In [ ]:
i = 5
while i >= 1:
  print(i)
  i -= 1

  print("Loop ended")

  # infinite Lookup
  # i = 5
  # qhile i< 6:
  # print(i)
  # i -= 1


  # i = 1
  # while i <= 100:
  #   print(i)
  #   i += 1


# i = 100
# while i >= 1:
#   print(i)
#   i -= 1

5
Loop ended
4
Loop ended
3
Loop ended
2
Loop ended
1
Loop ended

In [ ]:
i = 1
while i <= 10:
  print(3*i)
  i += 1



#  i = 1
#  while i <= 10:
#  print(5*i)
#  i += 1

3
6
9
12
15
18
21
24
27
30

In [ ]:
i = 1
while i <= 10:
  print(5*i)
  i += 1

  # print("Loop ended")

5
10
15
20
25
30
35
40
45
50

In [ ]:
i = 1
while i <= 10:
  print(15*i)
  i += 1

  # print("Loop ended")

15
30
45
60
75
90
105
120
135
150

In [ ]:
n = int(input("Enter a number : "))
i = 1
while i <= 10:
  print(n*i)
  i += 1

Enter a number : 20
20
40
60
80
100
120
140
160
180
200

In [ ]:
n = int(input("Enter a number : "))
i = 1
while i <= 10:
  print(n*i)
  i += 1

Enter a number : 18
18
36
54
72
90
108
126
144
162
180

In [ ]:
nums = [1, 2, 3, 4, 45, 77, 81, 90, 100 ]

index = 0
while index < len(nums):
  print(index)
  print(nums[index])
  index += 1

0
1
1
2
2
3
3
4
4
45
5
77
6
81
7
90
8
100

In [ ]:
heroes = [ "waseem akram", "javeed mian dad", "imran khan", "waqar younus"]

index = 0
while index < len(heroes):
  print(heroes[index])
  index += 1

waseem akram
javeed mian dad
imran khan
waqar younus

In [ ]:
# heroes = [ "waseem akram", "javeed mian dad", "imran khan", "waqar younus"]
i = 1
while i < len(heroes):
  print(hero[1])
i += 1

In [ ]:
nums = (1, 2, 3, 4, 5, 20, 30, 40, 50, 100)

x = 40
i = 0
while i < len(nums):
  if(nums[i] == x) :
    print("found at index", i)
  i += 1

found at index 7

In [ ]:
i = 1
while i <= 10:
  if(i % 2 != 0):
    i += 1
    continue
  print(i)
  i += 1

In [ ]:
i = 1
while i <= 5:
  print(i)
  if(i == 3):
      break
    i += 1

    print('End of the loop')

In [ ]:
nums =(1, 2, 3, 4, 5, 20, 30, 40, 50, 100)
x = 40
i = 0
while i < len(nums):

   if(nums[i] == x):
      print("found at index ", i)
      break
else:
   print("finding...")
   i += 1
print("End of loop")

In [ ]:
i = 1

while i <= 5 :
  if(i == 3):
    break
  print(i)
  i += 1
print('End of the loop')

1
2
End of the loop

In [ ]:
i = 1

while i <= 10:
  if(i%2 == 0):
    i += 1
    continue
  print(i)
  i += 1

1
3
5
7
9

In [ ]:
x = [1, 2, 3, 4, 6 ]
for val in x :
  print(val)

In [ ]:
vagitable = ["potasto", "tomato", "brinjal" ]
for val in vagitable:
  print(val)

In [ ]:
tup = (1, 2, 3, 4, 5)
for val in tup:
  print(val)

In [ ]:
str = "IFTIKHAR"
for val in str:
  print(val)
else:
  print(END)

In [ ]:
str = "IFTIKHAR"
for char in str :
  if(char == 'K'):
    print("Found K")
    break
  print(char)
else:
  print("Loop ended")

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]

for el in nums:
  print(el)

In [ ]:
nuns = (11, 12, 14, 16, 22, )

x = 16
index = 0

for el in nums:
  if(el == x):
    print("nymbers found in index", index)
    break
    index += 1

In [ ]:
print(range(5))

In [ ]:
seq = range(5)
print(seq(0))
print(seq(1))
print(seq(2))
print(seq(3))
print(seq(4))

for i in seq:
  print(i)

In [4]:
seq = range(10)

for i in seq:
  print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(2, 10):
  print(i)

2
3
4
5
6
7
8
9

In [22]:
for i in range(2, 10, 2):
  print(i)

2
4
6
8

In [10]:
for i in range(2, 100, 2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
for i in range(1, 100, 2):
  print(i)

In [11]:
for i in range(101):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [12]:
for i in range(1, 100):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [13]:
for i in range(100, 0, -1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [14]:
n = int(input("Enter a number : "))
for i in range(1, 11):
  print(n*i)

Enter a number : 22
22
44
66
88
110
132
154
176
198
220

In [15]:
for i in range(5):
  pass

  print("some useful work")

some useful work
some useful work
some useful work
some useful work
some useful work

In [18]:
if i > 5:
  pass

  print("some useful work")

In [19]:
n = 6

for i in range(1, n+1):
  print(i)

1
2
3
4
5
6

In [20]:
sun = 0
for i in range(1, n+1):
  sum += 1

  print("total sum =", sum)

total sum = 6
total sum = 7
total sum = 8
total sum = 9
total sum = 10
total sum = 11

In [21]:
sum = 5
for i in range(1, n+1):
  sum += 1

  print("total sum =", sum)

total sum = 6
total sum = 7
total sum = 8
total sum = 9
total sum = 10
total sum = 11